._radius(@r: 5px) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

._shadow(@s) {
  -webkit-box-shadow: @s;
  -moz-box-shadow: @s;
  box-shadow: @s;
}

._transform(@t) {
  -webkit-transform: @t;
  -moz-transform: @t;
  transform: @t;
}

._transition(@t) {
  -webkit-transition: @t;
  -moz-transition: @t;
  transition: @t;
}