@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
body {
  background: #f9f9f9;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 0 0 20px;
}
.site-header .logo {
  float: left;
  font: 40px/30px 'Ubuntu', sans-serif;
  font-weight: bold;
}
.site-header .logo a {
  color: #333;
  text-decoration: none;
}
.site-header .sign-buttons {
  float: right;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 20px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  text-align: center;
}
.auth-box {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.auth-box header {
  background: #333;
  color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}
.auth-box header h2 {
  margin: 0;
}
.auth-box section {
  padding: 10px 10px 0;
}
.auth-box section form {
  margin: 0;
}
.auth-box section input {
  margin: 0;
}
.auth-box .loading-box {
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  width: 100%;
  height: 100%;
}
.auth-box .loading-box .progress {
  width: 50%;
  position: relative;
  top: 50%;
  margin-top: -10px;
  margin: 0 auto;
}
.auth-box.loading .loading-box {
  display: block;
}
