@import "mixin";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);

body {
  background: #f9f9f9;
}

.site-header {
  background: #fff;
  @c: fade(#000, 30%);
  ._shadow(~"0 0 3px @{c}");
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  position: relative;
  z-index: 1000;
  .logo {
    font: bold 38px/38px 'Ubuntu', sans-serif;
    a {
      text-decoration: none;
      color: #333;
    }
  }
}

.site-main {
  padding: 40px 0;
}

.auth-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  ._radius;
  ._shadow(0 1px 2px fade(#000, 5%));
  header {
    background: #3a3c3c;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    ._radius(5px 5px 0 0);
    padding: 5px 10px;
    h2 {
      margin: 0;
    }
  }
  section {
    padding: 10px 10px 0;
    form {
      margin: 0;
    }
  }
}