@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
body {
  background: #f9f9f9;
}
.site-header {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  position: relative;
  z-index: 1000;
}
.site-header .logo {
  font: bold 38px/38px 'Ubuntu', sans-serif;
}
.site-header .logo a {
  text-decoration: none;
  color: #333;
}
.site-main {
  padding: 40px 0;
}
.auth-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.auth-box header {
  background: #3a3c3c;
  color: #fff;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}
.auth-box header h2 {
  margin: 0;
}
.auth-box section {
  padding: 10px 10px 0;
}
.auth-box section form {
  margin: 0;
}
