<div class="auth-box">
    <header>
        <h2 class="text-center">Sign in</h2>
    </header>
    <section>
        <form>
            <div class="control-group">
                <input ng-model="regData.login" type="text" class="input-block-level" placeholder="Login" />
            </div>
            <div class="control-group">
                <input ng-model="regData.password" type="password" class="input-block-level" placeholder="Password" />
            </div>
            <div class="control-group text-center">
                <button class="btn btn-large btn-success" ng-click="submitForm()">Sign in</button>
            </div>
        </form>
    </section>
</div>