<div class="container">
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <div class="auth-box">
                <header>
                    <h2 class="text-center">Sign up</h2>
                </header>
                <section>
                    <form name="regUserForm" ng-show="!regComplete" novalidate>
                        <fieldset>
                            <div class="alert alert-danger" ng-show="regError">
                                There were problems creating your account.
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input name="email" ng-model="regUser.email" type="email" required class="form-control" id="inputEmail" />
                            </div>
                            <div class="form-group">
                                <label for="inputLogin">Login</label>
                                <input name="login" ng-model="regUser.login" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="form-control" id="inputLogin" />
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName">First name</label>
                                <input name="firstName" ng-model="regUser.firstName" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="form-control" id="inputFirstName" />
                            </div>
                            <div class="form-group">
                                <label for="inputLastName">Last name</label>
                                <input name="lastName" ng-model="regUser.lastName" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="form-control" id="inputLastName" />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input name="password" ng-model="regUser.password" type="password" pattern="[0-9a-zA-Z\._-]{3,}" required class="form-control" id="inputPassword" />
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordConfirm">Password confirm</label>
                                <input name="passwordConfirm" ng-model="passwordConfirm" type="password" pattern="[0-9a-zA-Z\._-]{3,}" required class="form-control" id="inputPasswordConfirm" />
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-default" ng-disabled="!regUserForm.$valid" ng-click="submitForm()">Sign up for Yams!</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="reg-complete text-center" ng-show="regComplete">
                        <p>Registration complete.<br />Please confirm your email.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>