<div class="auth-box" ng-class="{ loading: loading }">
    <div class="loading-box">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%"></div>
        </div>
    </div>
    <header>
        <h2 class="text-center">Sign up</h2>
    </header>
    <section>
        <form name="regUserForm" novalidate>
            <div class="alert alert-danger" ng-show="!regUser.$valid">
                There were problems creating your account.
            </div>
            <div class="control-group">
                <input name="email" ng-model="regUser.email" type="email" required class="input-block-level" placeholder="Email" />
            </div>
            <div class="control-group">
                <input name="login" ng-model="regUser.login" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="input-block-level" placeholder="Login" />
            </div>
            <div class="control-group">
                <input name="firstName" ng-model="regUser.firstName" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="input-block-level" placeholder="First name" />
            </div>
            <div class="control-group">
                <input name="lastName" ng-model="regUser.lastName" type="text" pattern="[0-9a-zA-Z\._-]{3,}" required class="input-block-level" placeholder="Last name" />
            </div>
            <div class="control-group">
                <input name="password" ng-model="regUser.password" type="password" required class="input-block-level" placeholder="Password" />
            </div>
            <div class="control-group">
                <input name="passwordConfirm" ng-model="passwordConfirm" type="password" required class="input-block-level" placeholder="Confirm password" />
            </div>
            <div class="control-group text-center">
                <button class="btn btn-large btn-success" ng-disabled="!regUserForm.$valid" ng-click="submitForm()">Sign up for Yams!</button>
            </div>
        </form>
    </section>
</div>