<form class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
    <div class="controls">
        <input type="text" class="input-block-level" placeholder="Name" />
    </div>
    <div class="controls">
        <input type="email" class="input-block-level" placeholder="Email" />
    </div>
    <div class="controls">
        <input type="password" class="input-block-level" placeholder="Password" />
    </div>
    <div class="controls text-center">
        <button class="btn btn-success btn-large" type="submit">Next</button>
    </div>
    <a href="/signin">Sign in!</a>
</form>