<div class="container">
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <form name="regUserForm" ng-show="!regComplete" novalidate>
                <fieldset>
                    <div class="input-group">
                        <input ng-model="userId" required type="text" class="form-control" placeholder="User ID" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" ng-click="getUser(userId)" type="button">Get!</button>
                        </span>
                    </div>
                    <br />
                    <div ng-show="!resData && loader" class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <div ng-show="resData" class="panel">
                        <div class="panel-heading"><b>{{ resData.firstName }} {{ resData.lastName }}</b></div>
                        <fieldset>
                            <div class="input-group">
                                <input ng-model="resData.firstName" required type="text" class="form-control" />
                            </div>
                            <div class="input-group">
                                <button class="btn btn-danger" ng-click="updateUser()" type="button">Get!</button>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>